.jumbotron {
    /* padding: 2rem; */
    padding-top: 6rem;
    background-color: #A76F6F;
    
    
}

#projects {
    background-color: #A76F6F;
}
nav {
    background-color: #B7B7B7;
}
